################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CyMedia/CyMediaDis/colorMap_ALL
/.vs/CyMedia
*.user
/Export
/OutFile
